{% extends "faktury/base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Invoice {{ invoice.number }}</h1>

    <div class="container text-center">
        <a class="btn btn-success btn-sm" href="{% url 'faktury:dodajuslugedofaktury' invoice.id %}">Add product</a>
        <a class="btn btn-warning btn-sm" href="{% url 'faktury:edytujfakture' invoice.id %}">Edit</a>
        <a class="btn btn-danger btn-sm" href="{% url 'faktury:usunfakture' invoice.id %}">Delete</a>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-success btn-sm mt-2" type="submit" value="Submit using POST"><a>Generate PDF</a></button>
        </form>
    </div>
    <div class="container mt-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Seller: {{ invoice.seller }} | {{ invoice.seller.address }}</li>
            <li class="list-group-item">Buyer: {{ invoice.buyer }} | {{ invoice.buyer.address }}</li>
            <li class="list-group-item">Date of issue: {{ invoice.date_of_issue }}</li>
            <li class="list-group-item">Date of delivery: {{ invoice.date_of_delivery }}</li>
            <li class="list-group-item">Date of payment: {{ invoice.date_of_payment }}</li>
        </ul>
    </div>
    <div class="container mt-2">
        <ul class="list-group list-group-flush">
            {% for service in service_invoice_list %}
            <li class="list-group-item">Product: {{ service.service.name }} | Ilość: {{ service.quantity }} | Łączna
                wartość netto: {{ service.untaxed }} | Łączna wartość brutto: {{ service.taxed }}
            </li>
            {% endfor %}
            <li class="list-group-item">Łączna wartość netto: {{ totaluntaxed }} | Łączna wartość brutto: {{ totaltaxed }}
            </li>
        </ul>
    </div>
    <div class="container text-center mt-3">
        {% if invoice.image %}
        <img src="http://127.0.0.1:8000/faktury{{ invoice.image.url }}" class="img-fluid" alt="Responsive image"/>
        {% endif %}
    </div>
</div>

{% endblock content %}

