{% extends "faktury/base.html" %}
{% block content %}
<div class="container mt-2">
    <a class="btn btn-success btn-sm mx-1 my-2" href="/faktury/dodajusluge">Add product</a>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Unit price</th>
            <th scope="col">Tax rate</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for service in service_list %}
        <tr>
            <th scope="row">{{ service.name }}</th>
            <td>{{ service.unit_price }}</td>
            <td>{{ service.tax_rate }}</td>
            <td>
                <a class="btn btn-warning btn-sm" href="/faktury/edytujprodukt/{{ service.id }}/">Edit</a>
                <a class="btn btn-danger btn-sm" href="/faktury/usunprodukt/{{ service.id }}/">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}