{% extends "faktury/base.html" %}
{% block content %}
<div class="container mt-2">
    <a class="btn btn-success btn-sm mx-1 my-2" href="{% url 'faktury:dodajfakture' %}">Add invoice</a>
    <a class="btn btn-success btn-sm mx-1 my-2" href="{% url 'faktury:wybierzwzor' %}">Add invoice by document</a>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col"><a href="{% url 'faktury:lista1' %}">Number</a></th>
            <th scope="col"><a href="{% url 'faktury:lista2' %}">Date of issue</a></th>
            <th scope="col"><a href="{% url 'faktury:lista3' %}">Date of delivery</a></th>
            <th scope="col"><a href="{% url 'faktury:lista4' %}">Date of payment</a></th>
            <th scope="col"><a href="{% url 'faktury:lista5' %}">Seller</a></th>
            <th scope="col"><a href="{% url 'faktury:lista6' %}">Buyer</a></th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoice_list %}
        {% if invoice.user == user %}
        <tr>
            <th scope="row"><a href="{% url 'faktury:faktura' invoice.id %}">{{ invoice.number }}</a></th>
            <td>{{ invoice.date_of_issue }}</td>
            <td>{{ invoice.date_of_delivery }}</td>
            <td>{{ invoice.date_of_payment }}</td>
            <td>{{ invoice.seller.name }}</td>
            <td>{{ invoice.buyer.name }}</td>
            <td>
                <a class="btn btn-success btn-sm" href="{% url 'faktury:dodajuslugedofaktury' invoice.id %}">Add
                    product</a>
                <a class="btn btn-warning btn-sm" href="{% url 'faktury:edytujfakture' invoice.id %}">Edit</a>
                <a class="btn btn-danger btn-sm" href="{% url 'faktury:usunfakture' invoice.id %}">Delete</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}